interactive_mode_logs/*
integration_test_logs/*
integ_test_results.txt
aws_integration_test.log
aws_gpu_integration_test.log
aws_regex_test.log
*/__pycache__/*
*~
rendered/
*.pyc
.mypy_cache
.vscode
.idea
.DS_Store

bin/update-template.sh
integ_test/local_test.log

Pipfile
Pipfile.lock

.DS_Store
docker/redquestiondetector/dataset/

bin/abi_utts.txt
notebooks/inspect_idf.ipynb
notebooks/gpt2_conv_testing.ipynb
notebooks/frequent_entities.json
notebooks/personal_topics.ipynb
notebooks/.ipynb_checkpoints/*
notebooks/convs-*.json
notebooks/annotated-convs-*.json
notebooks/neuralchat_data/
chirpy/core/entity_linker/wikilinks_results_*.txt
chirpy/core/entity_linker/*exs/*
chirpy/annotators/navigational_intent/test_nav_intent.py

notebooks/common-utterances-*.json
entity_linker_eval/eval_results/*
entity_linker_eval/data/*
chirpy/core/entity_linker/entity_linker_latency.png
chirpy/core/entity_tracker/entity_tracker_latency.png
idf/*idfs.json

alexa.zip
bin/intro_utterances_example.txt

convpara/*
