itsdangerous==2.0.1
Flask==0.11.1
Flask-RESTful==0.3.5
Werkzeug==0.15.5
future==0.16.0
jsonpickle==0.9.4
pandoc==1.0.0b2
six==1.10.0
typing==3.6.2
ConfigArgParse==0.12.0
gunicorn==19.7.1

transformers==4.3.2
spacy==3.0.3
nltk==3.5
botocore==1.18.6
urllib3==1.25
awscli==1.18.147
