
# This file lists requirements for AWS Lambda to run the bot.
# requirements.txt is the longer list of requirements for running all different parts of the code locally (including dashboard, notebooks, unit tests, etc)

boto3==1.17.21
requests==2.14.2
pytz==2018.5
requests_aws4auth==0.9
elasticsearch==7.5.1
certifi
jsonpickle==1.3
colorama==0.4.3
nltk==3.4.5
text2digits==0.0.9
tabulate==0.8.7
inflect==5.0.2
metaphone==0.6
textstat==0.7.1

editdistance==0.5.3

psycopg2-binary==2.8.6

flask==1.1.2
jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.2.3
gunicorn==20.0.4
flask-cors==3.0.8
